.header {
  padding: 1em;
  background: #1c304a;
  color: #ffffff;
}

.header__container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 0.5em;
}

.header__title {
  margin: 0;
  display: inline-block;
  font-size: 3em;
}

.header__nav {
  vertical-align: top;
  text-align: right;
  float: right;
  font-size: 1.25em;
}

.header__nav ul {
  list-style-type: none;
}

.header__nav li {
  display: inline-block;
  padding: 0 1em;
}

.header__nav li:last-of-type {
  padding-right: 0;
}

.header__nav a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.header__nav a:hover,
.header__nav a:active {
  border-bottom: 2px solid #ffffff;
}
